A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
-->

.div1 {
    height: calc(100vh - 60px);
}

a {
    color: white !important;
    font-size:12px;
    font-weight: 300;
}
body {
    background-color: black !important;
    padding:20px;
}  


@media screen and (max-width: 740px) {
    .div1 {
        height: calc(90vh - 60px);
    }

}